@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container {
    width: 600px;
    height: auto;
    padding: 1.5em 1.2em;
    margin-top: 1em;
}

.container h1 {
    margin-bottom: 1em;
    text-align: center;
}

#control {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#control input {
    width: 90%;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 1.2em;
    color: #464646;
    font-weight: 600;
}

#control input::placeholder {
    color: #bebebe;
    font-weight: 400;
}

#control button {
    padding: 1.2em;
    font-size: 1em;
    font-weight: 600;
    background-color: #464646;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.list-task {
    margin-top: 3em;
}

.list-task .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: 1em;
}

.task p {
    width: 90%;
    height: auto;
    padding: 1.1em;
    align-self: center;
    font-size: 1em;
    font-weight: 600;
    color: #5c5c5c;
}

.task button {
    align-self: center;
    font-size: 1em;
    padding: 0.5em 1em;
    border: none;
    color: #e64545;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}