@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid red;
}

.container {
    width: 600px;
    height: auto;
    border: 1px solid blue;
    padding: 1.5em 1.2em;
    margin-top: 1em;
}

.container h1 {
    margin-bottom: 1em;
    text-align: center;
}

#control {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#control input {
    width: 90%;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0.8em;
}

#control button {
    padding: 0.8em 1em;
    font-size: 1em;
    font-weight: 600;
    background-color: #464646;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.list-task {
    border: 1px solid red;
    margin-top: 2em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.list-task .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border: 1px solid blue;
}

.task p {
    width: 90%;
    height: auto;
    align-self: center;
    border: 1px solid red;
}

.task button {
    background-color: #e64545;
    align-self: center;
    padding: 1em;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
}